{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <hr>
   {% if articles %}
    <h3>Всего статей: {{ articles|length }}</h3>
       <table>
           <tr>
               <td><strong>Заголовок</strong></td>
               <td><strong>Дата публикации</strong></td>
               <td><strong>Текст</strong></td>
               <td><strong>Вид</strong></td>
               {% if perms.news.change_post or perms.news.add_post %}
                        <td><strong>Действия</strong></td>
                {% endif %}
           </tr>

           {% for article in articles %}
           <tr>
               <td><a href="{% url 'article_detail' article.id %}">{{ article.heading|censor }}</a></td>
               <td>{{ article.created_at|date:'d M Y' }}</td>
               <td>{{ article.text|truncatewords:20|censor }}</td>
               {% if article.type == 'Ns' %}
                <td>Новость</td>
               {% elif article.type == 'Ae' %}
               <td>Статья</td>
               {% endif %}
               <td>
                   {% if article.type == 'Ns' %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'news_edit' article.id %}">Редактировать новость</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'news_delete' article.id %}">Удалить новость</a>
                        {% endif %}
                   {% endif %}
                   {% if article.type == 'Ae'%}
                        {% if perms.news.change_post %}
                            <a href="{% url 'article_edit' article.id %}">Редактировать статью</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'article_delete' article.id %}">Удалить статью</a>
                        {% endif %}
                   {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}